// Animations and Ordering

// Billboard
	.billboard.animated {
		@keyframes billboard-bg {
			0% 	{height: 0%;}
			100% {height: 85%;}
		}
		&:before {
			animation-name: billboard-bg;
			animation-timing-function: ease;
		}
	}///.billboard


// ORDER //

								// {@include animation($delay, $duration);}

// Sequence-1
	// Billboard
	.billboard:before 				{@include animation(0.3s, 1.0s);}
	.billboard__right .animated		{@include animation(1.0s, 0.8s);}
	.billboard__left			 	{@include animation(1.6s, 0.8s);}
	// Programs
	.header--programs				{@include animation(2.0s, 0.8s);}
	.paragraph--programs			{@include animation(2.4s, 0.8s);}
	.card--programs					{@include animation(0.5s, 0.8s);}

// Why-Choose
	.why-choose { .content--duo 	{@include animation(0.4s, 1.0s);} }
	.why-choose { .media--duo		{@include animation(0.0s, 1.0s);} }
	// Card
	.why-choose { h1				{@include animation(0.8s, 1.0s);} }
	.why-choose { p					{@include animation(1.8s, 1.2s);} }

// Residential
	.residential { h1				{@include animation(0.7s, 0.8s);} }
	.residential { p				{@include animation(1.4s, 1.0s);} }

// Outpatient
	.outpatient { h1				{@include animation(0.7s, 0.8s);} }
	.outpatient { p					{@include animation(1.4s, 1.0s);} }





// Animated classes
.animated {
	transform: translate3d(0, 0, 0);
	@include breakpoint(medium down) {
		animation-name: none;	
	}
}

.not-animated {
	animation-name: none;
}
