
// MIXINS


// get-image
	$image-base-dir: '/assets/img/';
	@function get-image($filename) {
	  @return url('#{$image-base-dir}#{$filename}');
	}

// tint shade
	@function shade($color, $percentage) {
	  @return mix(black, $color, $percentage);
	}
	@function tint($color, $percentage) {
	  @return mix(white, $color, $percentage);
	}

// transition
	@mixin transition($args...) {
	  -webkit-transition: $args;
	  -moz-transition: $args;
	  -ms-transition: $args;
	  -o-transition: $args;
	  transition: $args;
	}

// animation
	@mixin animation ($delay, $duration) {
	    -webkit-animation-delay: $delay;
	    -webkit-animation-duration: $duration;

	    -moz-animation-delay: $delay;
	    -moz-animation-duration: $duration;

	    -o-animation-delay: $delay;
	    -o-animation-duration: $duration;

	    animation-delay: $delay;
	    animation-duration: $duration;
	}

// box-shadow
	@mixin box-shadow($opacity: 1, $color: #202020) {
	  // 1
	  @if $opacity == 1 {
	      @include breakpoint(medium down) {
	        box-shadow: 0 5px 10px 0 rgba($color, 0.04);
	      }
	      @include breakpoint(large) {
	        box-shadow: 0 8px 16px 0 rgba($color, 0.04);
	      }
	  }///1

	  // 2
	  @if $opacity == 2 {
	      @include breakpoint(medium down) {
	        box-shadow: 0 5px 10px 0 rgba($color, 0.06);
	      }
	      @include breakpoint(large) {
	        box-shadow: 0 8px 16px 0 rgba($color, 0.06);
	      }
	  }///2

	  // 3
	  @if $opacity == 3 {
	      box-shadow: 0 8px 16px 0 rgba($color, 0.06),
	                  0 10px 20px 0 rgba($color, 0.12);
	      @include breakpoint(medium down) {
	        box-shadow: 0 5px 10px 0 rgba($color, 0.06),
	                    0 7px 14px 0 rgba($color, 0.12);
	      }
	      @include breakpoint(large) {
	        box-shadow: 0 6px 12px 0 rgba($color, 0.07),
	                    0 8px 16px 0 rgba($color, 0.14);
	      }
	  }///3

	  // 4
	  @if $opacity == 4 {
	      box-shadow: 0 8px 16px 0 rgba($color, 0.06),
	                  0 10px 20px 0 rgba($color, 0.12);
	      @include breakpoint(medium down) {
	        box-shadow: 0 5px 10px 0 rgba($color, 0.06),
	                    0 7px 14px 0 rgba($color, 0.12);
	      }
	      @include breakpoint(large) {
	        box-shadow: 0 8px 16px 0 rgba($color, 0.08),
	                    0 10px 20px 0 rgba($color, 0.16);
	      }
	  }///4

	  // nav
	  @if $opacity == 'nav' {
	    @include breakpoint(large) {
	      box-shadow: 0 5px 10px 0 rgba($color, 0.025);
	    }///large
	  }///nav


	  @include transition(all 200ms ease);
	}