$site-palette: (
  primary:    #40C77E,
  secondary:  #234756,
  default:    #383835,
  inverse:    #ffffff,
  overlay:    #eeeeee,
  accent1:    #37BE76,
  accent2:    #5B5B5B,
  accent3:    #7B7B7B,
  accent4:    #F1F1F1,
  accent5:    #1E3C48,
  accent6:    #be3c30,
  accent7:    #adbfc9,
);