// BILLBOARD
.billboard.module {

// Settings
	position: relative;
	background-color: get-color(inverse);

	@include breakpoint(small) {
		background-color: get-color(primary);
	}
	@include breakpoint(medium) {
		background-color: get-color(primary);
	}
	@include breakpoint(large) {
		background-color: get-color(inverse);
	}
	.inner.expanded {
		&:first-child {
			margin-top: 0;
			padding-top: 0;
		}///:first-child
	}///.inner.expanded

	.grid-x {
		@include breakpoint(medium) {
			position: relative;
		}
	}///.grid-x

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 85%;
		background: get-color(primary);
		z-index: 0;
		@include breakpoint(medium down) {
			top: auto;
			bottom: 0;
			height: 50%;
		}
		@include breakpoint(large) {

		}
	}///:before


// Cards
	.billboard__left {
		z-index: 1;
		position: relative;
		@include breakpoint(small only) {
			padding-top: 40px;
			padding-bottom: 0;
		}

		.card-section {
			@include animation(500ms, 2s);
			background: rgba(get-color(inverse), 0.96);
			z-index: 1;
			@include box-shadow(2);
			@include breakpoint(small) {
				padding: 30px;	
			}
			@include breakpoint(medium) {
				position: absolute;
				top: 30px;
				left: -3%;
				width: 66%;
			}
			@include breakpoint(large) {
				top: 100px;
				left: -3.25%;
				width: 52%;
			}
			@include breakpoint(xlarge) {
				top: 90px;
				left: -4%;
				width: 46%;
			}///@xlarge
			@include breakpoint(xxlarge) {
				padding: 50px 40px;
				top: 70px;
				left: -10%;
				width: 50%;
			}///@xxlarge
		}///.card-section

		.button-group {
			margin-top: 2rem;
			margin-bottom: 0;
			@include breakpoint(medium down) {
				margin-top: 1rem;
			}///@medium down
		}///.button-group

		a.button {
			@include breakpoint(medium only) {
				font-size: 16px;
			}///@medium only
		}///a.button




	}///.billboard__left

	.billboard__right {
		z-index: 0;
		@include breakpoint(small only) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		@include breakpoint(large) {
			overflow-y: hidden;
		}
		.billboard__img {
			background-repeat: none;
			background-size: cover;
			background-position-x: -220px;
			height: 620px;
			@include breakpoint(small only) {
				height: 320px;
			}
			@include breakpoint(medium only) {
				height: 400px;
			}
		}
	}///.billboard__right
}///.billboard.module