a.button.primary.hollow {
	color: get-color(default);
	font-weight: 300;
	@include transition(170ms all ease);
	&:hover {
		color: get-color(inverse);
		border-color: get-color(primary);
		background: get-color(primary);
	}
	&:disabled {
		display: inline-block;
	}
}///a.button.primary.hollow


// CHAT OFFLINE
$color-chat-offline: #767676;

// Hollow Buttons
	a.button.button--chat.hollow[data-chat].disabled {
		opacity: 0.5;
		border-color: $color-chat-offline;
		@include breakpoint(small) {
			padding: 0.75rem 1rem;
		}
		@include breakpoint(medium) {
			padding: 1rem 1rem;
			letter-spacing: -0.5px;
			font-size: 16px;
		}
		@include breakpoint(large) {
			padding: 1rem 1.25rem;
			font-size: 17px;
		}
		@include breakpoint(xlarge) {
			padding: 1rem 1.15rem;
		}
		@include breakpoint(xxlarge) {
			padding: 1rem 1rem;
			font-size: 18px;
		}
		&:before {
			color: $color-chat-offline;
		}
		&:hover {
			opacity: 0.35;
			background: transparent;
			color: $color-chat-offline;
		}
	}

// Mobile Bar Button
	#mobilephone a.mobilephone__chat[data-chat].disabled {
		opacity: 0.5;
		color: $color-chat-offline;
		&:before {
			color: $color-chat-offline;
		}
	}

// Top-bar Chat
	a.button--chat.button--nav.disabled {
		opacity: 0.6;
		@include breakpoint(xlarge only) {
			padding: 1.25rem 0.8rem;
			letter-spacing: -0.5px;
			font-size: 16px;
		}///xlarge only
	}












