// DUO
.module.duo {

// Settings
	.inner.expanded {
		@include breakpoint(small only) {
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 0;
			padding-bottom: 1.25rem;
		}///smallonly
		@include breakpoint(medium only) {
			max-width: none;
			padding-bottom: 1.25rem;
		}///@mediumonly
	}///.inner.expanded


// Card
	.content--duo {
		z-index: 1;
		@include breakpoint(small only) {
			margin-top: 260px;
		}
		@include breakpoint(medium only) {
			max-width: 668px;
			margin: 0 auto;
			margin-top: -40px;
		}
	}///.duo__content
	.card {
		@include box-shadow(1);
		@include breakpoint(small only) {
			margin-top: -30px;
			margin-bottom: 0;
		}
		@include breakpoint(medium only) {
			margin-bottom: 0;
		}
		@include breakpoint(xxlarge) {
			padding: 2.5rem;
			width: 160%;
			left: -60%;
			transform: translateY(7.5%);
		}///xxlarge
		&.random {
			background: blue;
		}
	}///.duo__content__card


// Media
	.media--duo, .media--img {
		z-index: 0;
		@include breakpoint(small only) {
			min-height: 260px;
		}///smallonly
		@include breakpoint(medium only) {
			min-height: 360px;
		}
	}///.media--duo
	.media--duo {
		@include breakpoint(small only) {
			position: absolute;
			left: 0;
			width: 100%;	
		}
		@include breakpoint(large) {
			position: relative;
			overflow-y: hidden;
		}///@large
	}///.media--duo

	.media--img {
		@include breakpoint(small only) {
			transform: none !important;	
		}///small only
	}///.media--img

// Header
	.card.card--duo h1 {
		@include breakpoint(medium down) {
			font-weight: 600;
		}///medium down
	}///.card h1

}///.module.duo
///DUO






// ALT DUO
.module.duo.duo--alt {

// Settings/Typography
	overflow-x: hidden;
	.inner.expanded {
		padding: rem-calc(40px);
		@include breakpoint(small only) {
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 0;
			padding-bottom: 1.25rem;
		}///smallonly
	}///.inner.expanded
	h1, h2, h3, h4, h5, p, span {
		color: get-color(default);
	}

// Card
	.card.card--duo {
		width: 100%;
		transform: none;
		background: get-color(inverse);
		border: 1px solid get-color(primary);
		box-shadow: none;
		margin-bottom: 0;
	}///.card.card--duo

// Content
	.content--duo {
		@include breakpoint(medium only) {
			max-width: none;
			margin-top: 20px;
		}
	}


}///.module.duo--alt

