// Footer

.module.footer {
	.inner.expanded {
		@include breakpoint(small only) {
			padding: 1.25rem 30px;
		}
		@include breakpoint(medium) {
			padding: 1.5rem 30px;
		}
		@include breakpoint(large) {
			padding: 2.5rem 30px;
		}
		
	}///.inner.expanded

	background: get-color(primary);
	text-align: center;

	p, a.footer--phone {
		color: get-color(inverse);
		margin: 0;
		@include breakpoint(large) {
			font-size: 15px;
		}///@large
	}
	a {
		color: get-color(inverse);
		text-decoration: underline;
	}
	.footer--phone {
		font-weight: 500;
	}

}///.module.footer

