
// LIVECHAT
div#lhnHelpOutCenter {

// Normal
	width: 375px !important;
	font-family: $body-font-family !important;
	bottom: 100px;
	height: 580px !important;
	right: 0px !important;
	border-radius: 0px;

// Mobile
	@include breakpoint(small only) {
		top: 0;	
	}///@small only

// Header
	div#lhnHocHeader.lhnWindow-header {
		@include xy-grid;
		background: get-color(primary);
		border-radius: 0px;
		height: 12%;
		@include breakpoint(small) {
			padding: 1rem;
		}
		@include breakpoint(medium) {
			padding: 1rem;
		}
		@include breakpoint(large) {
			padding: 1rem;
		}

		// Logo/Header Text
			.lhnWindow-header-text {
				@include xy-cell(5, false, 0);
			}///.lhnWindow-header-text

		// Controls
			.lhnWindow-header-controls {
			position: absolute;
			right: 1rem;

			button {
				position: relative;
				width: 30px;
				height: 30px;
				margin: 0;
				padding: 0;
				@include transition(200ms all ease );
				border: 1px solid get-color(primary);
				&:hover, &:hover img {
					border-color: rgba(get-color(inverse), 0.7);
					outline: 0;
					background: shade(get-color(primary), 8%);
				}
				img {
					filter: none;
					padding: 7px;
				}
			}///button

			// close
			button#lhnWindowCloser {
			}
			// minimize
			button#lhnWindowMinimizer {
				img {
					padding-top: 0px;
					padding-bottom: 12px;
				}
			}
			}///.lhnWindow-header-controls
	}///.lhnWindow-header

// Body
	div#hocContainer.lhnWindow-body {
		height: 89.1%;
		padding: 20px 20px;
		padding-top: 10px;
		font-family: $body-font-family;

		// Paragraphs
			div {
				font-family: $body-font-family;
				font-size: 14px;			
			}

		// Labels
			form div.lhnFields div.lhnField label {
				font-family: $body-font-family;
				font-weight: 500;
				text-transform: none;
				letter-spacing: 0px;
				font-size: 15.5px;
			}

	}///.lhnWindow-body

// Button-preChat
	button.lhnFormButton {
		background: get-color(secondary);
		border-radius: 0;
		box-shadow: none;
		font-size: 16px;
		text-shadow: none;
		font-family: $body-font-family;
		text-transform: none;
		font-weight: 400;
		@include transition(180ms all ease);
		&:hover {
			@include box-shadow(3);
			background: tint(get-color(secondary), 7%);
		}
	}

// OperatorName
	div.lhnWindow-header-text.lhnWindow-chat h4 {
		margin-top: -6px;
		margin-left: -26px;
		font-size: 24px;
		font-family: $body-font-family;
		font-weight: 400;
		color: get-color(inverse);
		letter-spacing: -0.5px;
		text-transform: none;
		text-shadow: none;
		position: relative;
		&:after {
			font-size: 12px;
			font-weight: 500;
			content: 'online now';
			font-family: $body-font-family;
			text-transform: uppercase;
			display: block;
			position: absolute;
			left: 33px;
			top: 31px;

		}///&:after
	}/// h4
	span.lhnAgentStatus {
	    top: 20px;
	    left: 16px;
	    border: 1px solid get-color(inverse);
	    margin-right: 0px;
	    width: 10px;
	    height: 10px;
	    background-color: tint(get-color(primary), 15%);
	}

// SystemMessage
	div.lhnSystemMessage div.lhnWindow-message {
		font-family: $body-font-family;
		font-size: 16px;
		line-height: 22px;
		color: get-color(accent3);
	}

// OperatorMesssage & CustomerMessage
	div.lhnOperatorMessage div.lhnWindow-message,
	div.lhnCustomerMessage div.lhnWindow-message {
		font-family: $body-font-family;
		font-size: 15px;
		line-height: 24px;
		border-radius: 0;
		max-width: 84%;
		padding: 7.5px 10px;
	}///both

// OperatorMessage
	div.lhnOperatorMessage div.lhnWindow-message {
		color: get-color(accent2);
		background: #f5f5f5;
		&:after {
			border-color: 
			transparent 
			transparent 
			#f5f5f5 
			transparent;
			left: -6px;
			border-width: 0 0 10px 8px;
		}
	}

// CustomerMessage
	div.lhnCustomerMessage div.lhnWindow-message {
		color: get-color(inverse);
		background: get-color(primary);
		&:after {
			border-color: 
			transparent 
			transparent 
			transparent 
			get-color(primary);
			right: -6px;
			border-width: 10px 0 0 8px;
		}
	}

// EmailTranscript
	div.conversationForm.hocEmail {
		float: right;
		width: 94.5%;

		// Input
		input {
			font-family: $body-font-family;
			color: get-color(default);
			font-size: 15px;
			background: #f5f5f5;
			border: 0px;
			outline: none;
			box-shadow: none;
			padding: 20px;
		}///input

		// Button
		button.hocEmailChat {
			right: 5px;
			top: 32px;
		}

	}///div.conversationForm.hocEmail

// FORM
	// Container
		.lhnWindow-chat_input {
			height: 140px;
			border: 0px;
		}///.lhnWindow-chat_input

	// Chat
		div.lhnChat {
			top: 0;
			padding-top: 0px;
			padding-bottom: 2px;
			max-height: 74.5%;
			
			&::-webkit-scrollbar {
				width: 8px;
			}
			&::-webkit-scrollbar-track {
				background: #fff;
    			border-radius: 0px;
			}
			&::-webkit-scrollbar-thumb {
				background: tint(get-color(accent2), 50%);
				border: 2.2px solid #fff;
				border-top-width: 20px;
				border-bottom-width: 20px;
			}

		}///div.lhnChat

	// Form
		.lhnWindow-chat_input form {
			max-height: none;
			height: auto;
		}///form

	// Textarea
		.lhnWindow-chat_input form #lhnChatMessageBox {
			width: 85%;
			textarea {
				font-size: 15px;
				border: 0px;
				outline: none;
				box-shadow: none;
				background: #f5f5f5;
				font-family: $body-font-family;
				color: get-color(default);
				padding: 8px 12px;
				height: 80px;
			}
		}///#lhnChatMessageBox

	// Input text
		.lhnFields {
			input.lhnInput {
				font-family: $body-font-family;
				font-weight: 400;
				color: get-color(accent2);
				font-size: 16px;
				padding-left: 10px;
				border-radius: 0px;
			}///input
		}///.lhnFields

	// Button-Send
		.lhnWindow-chat_input div.lhnInput-chat_input-buttons {
			float: right;
			margin-right: 18px;
			margin-top: -10px;
			max-width: none;
			max-height: none;
			overflow: visible;
			width: auto;
			height: auto;

			button.lhnSendButton {
				transform: none;
				font-size: 16px;
				padding: 0 20px;
				height: 40px;
				text-transform: none;
				border-radius: 0px;
				background: get-color(secondary);
				font-family: $body-font-family;
				font-weight: 400;
				text-shadow: none;
				color: get-color(inverse);
				@include transition(180ms all ease);
				&:hover {
					@include box-shadow(3);
					background: tint(get-color(secondary), 7%);
				}
			}///button.lhnSendButton
		}///div.lhnInput-chat_input-buttons
	
	// ActionsMenu
		div.lhnChatActionsMenu {
			width: 10%;
			img {
				margin-left: 5px;
				margin-right: 8px;
				background: get-color(primary);
			}///img
		}///.lhnChatActionsMenu

// Footer (powered by LiveHelpNow)
	#lhnWindowFooter.lhnWindow-footer {
		display: none !important;
	}


////////////////////////
///// Other States /////
////////////////////////

// PRECHAT
	&.chat-prechat {

		#lhnHocHeader.lhnWindow-header {
			position: relative;
			padding: 1rem;
		}

		span.lhnAgentStatus {
		    top: 20px;
		    left: 18px;
		    border: 1px solid get-color(inverse);
		    margin-right: 0px;
		    width: 10px;
		    height: 10px;
		    background-color: tint(get-color(primary), 15%);
		}

		// Logo
		.lhnWindow-header-text {
			max-width: 120px;
			&:not(.lhnWindow-chat) {
			background: center/cover no-repeat url(../../assets/img/oakslogo2.svg);
			min-height: 30px;
			}
			h3, h3>span {
				display: none !important;
			}
		}///.lhnWindow-header-text
	}///PRECHAT

// Prompt-CloseChat
	div.lhnPrompt.closechat {
		padding-top: 2.5rem;
		
		// Message
			span.lhnPromptMsg {
				font-family: $body-font-family;
				font-weight: 400;
				text-shadow: none;
				font-size: 18px;
				margin-top: 2.5rem;
			}///Message
	
		// Buttons
			button.lhnFormButton {
			    border: 0px;
			}
			button.lhnFormButton.lhnPromptDecline {
				background: get-color(accent4);
				color: get-color(default);
			}
	}///.lhnPrompt.closechat

// Prompt
	div.lhnPrompt {
		background-color: rgba(get-color(inverse), 0.9);
	}

// Prompt-sms
	div.lhnPrompt.sms {
		padding-top: 60px;
		font-family: $body-font-family;
		font-weight: 500;
		font-size: 1rem;
		line-height: 28px;
		color: get-color(default);
		hr {
			margin: 10px;
		}

		// Buttons
			button.lhnFormButton {
			    border: 0px;
			}
			button.lhnFormButton.lhnPromptDecline {
				background: get-color(accent4);
				color: get-color(default);
			}
	}///.lhnPrompt.sms



}///#lhnHelpOutCenter
///LIVECHAT


// Button Fix
	div#lhnHocButton.lhnslide,
	div#lhnHocInvite.lhnright {
		display: none !important;
	}

div#lhnHelpOutCenter div#lhnHocHeader.lhnWindow-header .lhnWindow-header-text {
    height: 28px;
}