// MODAL

.reveal {

// Settings
	&:focus {
		outline: none;
	}
	@include box-shadow(3);
	@include breakpoint(small) {
		margin: 0 auto;
		padding: 0;
		background: get-color(inverse);
		border: 0;
	}
	@include breakpoint(medium) {
		padding: 0;
		background: get-color(inverse);
		border: 0;
	}
	@include breakpoint(large) {
		width: 600px;
		min-height: 300px;
		padding: 0;
		background: get-color(inverse);
		border: 0;
	}
	
// Container
	.reveal__container {
		background: get-color(inverse);
	}///.reveal__container


	.reveal__header, .reveal__content {
		@include breakpoint(small) {
			padding: 20px;	
		}
		@include breakpoint(medium) {
			padding: 30px;
		}
		@include breakpoint(large) {
			padding: 40px;
		}
	}

// Header 
	.reveal__header {
		width: 100%;
		background: get-color(primary);
		padding-top: 36px;
		padding-bottom: 29px;
		h1 {
			font-size: 36px;
			line-height: 1;
			color: get-color(inverse);
			margin-bottom: 0;
		}///h1
	}///.reveal__header

// Content
	.reveal__content {
		margin-bottom: 10px;
		p {
			color: get-color(accent2);
			font-weight: 400;
			@include breakpoint(small) {
				font-size: 18px;
				line-height: 1.65;
			}
			@include breakpoint(medium) {
				font-size: 18px;
				line-height: 1.8;
			}
			@include breakpoint(large) {
				font-size: 18px;
				line-height: 1.8;
			}
			
			
		}///p
	}///.reveal__content

// Close Button
	.close-button {
		color: get-color(inverse);
	    position: absolute;
	    right: 40px;
	    top: 30px;
	    font-size: 36px;
	    font-weight: 100;
	    line-height: 1;
	    @include transition(170ms all ease);
		&:hover {
			color: shade(get-color(inverse), 10%);
		}
		@include breakpoint(small only) {
			font-size: 48px;
			right: 30px;
			top: 20px;
		}///@smallonly
	}///.close-button

}///.reveal



// Overlay
	.reveal-overlay{
		background-color: rgba(shade(get-color(accent5), 70%), 0.74);
	}///.reveal-overlay