
// MODULE
	.module {
		// Settings
			.inner.expanded {
				
				margin: 0 auto;
				padding: 2.5rem 0;
				@include breakpoint(small only) {
					padding: 2.5rem 30px;
				}
				@include breakpoint(medium) {
					max-width: 668px;
				}
				@include breakpoint(large) {
					max-width: 892px;
				}
				@include breakpoint(xlarge) {
					max-width: 1000px;
				}
				@include breakpoint(xxlarge) {
					max-width: 1000px;
				}
			}///.inner.expanded

		// Backgrounds
			&--inverse {
				background-color: get-color(inverse);
			}
			&--secondary {
				background-color: get-color(secondary);
			}

			&--accent4 {
				background-color: get-color(accent4);
			}

		// Card
			.card {
				padding: 2.5rem;
				@include breakpoint(small only) {
					padding: rem-calc(30px) 1.25rem;
				}
				&.card--primary {
					background: get-color(primary);
					border: 0px;
					h1, h2, h3, h4, p, span {
						color: get-color(inverse);
					}
				}///.card--primary
				&.card--secondary {
					background: get-color(secondary);
					border: 0px;
					h1, h2, h3, h4, p, span {
						color: get-color(inverse);
					}
				}///.card--secondary
				&.card--inverse {
					background: get-color(inverse);
				}///.card--inverse
			}///.card

		// Paragraph
			p {
				color: get-color(accent2);
			}///p

	}///.module

// UI
	// ul
		ul li {
			color: get-color(default); 
			list-style: none; 
			line-height: 28px;
			@include breakpoint(small only) {
				margin-left: 1rem;
				line-height: 24px;
				&:not(:last-child) {
					margin-bottom: 10px;
				}///&:not(:last-child)
			}///@small only
			@include breakpoint(medium only) {
				margin-left: 1.65rem;	
					&:before {
						margin-left: -1.65rem;
					}///:before
				line-height: 26px;
			}///@medium
		}///ul li

		ul.list--box li::before {
			color: get-color(default);
			content: "\25A0"; 
			/* Unicode of character to precede the list item */
			font-size: 1rem;
			padding-right: 1.1225em; 
			position: relative;
			@include breakpoint(small only) {
				padding-right: 0.5rem;
				margin-left: -1rem;

			}
		}

		ul.list--box.list--primary li::before { 
			color: get-color(primary);
		}
		ul.list--box.list--secondary li::before { 
			color: get-color(secondary);
		}
		ul.list--box.list--inverse li::before,
		ul.list--box.list--inverse li { 
			color: get-color(inverse);
		}///ul.list--box.list--inverse

	// Buttons
		
		// Call
			a.button--phone {
				&:before {
				    content: '\f095';
				    font-family: FontAwesome;
				    color: get-color(primary);
				    position: relative;
				    display: inline-flex;
				    vertical-align: middle;
				    padding-right: 0.65rem;
				    padding-bottom: 0px;
				    font-size: 16px;
				    line-height: 15px;
				    @include transition(170ms all ease);
				}///:before
			}///a.button--phone

		// Chat
			a.button--chat {
				&:before {
				    content: '\E0CA';
				    font-family: 'Material Icons';
				    color: get-color(primary);
				    position: relative;
				    display: inline-flex;
				    vertical-align: middle;
				    padding-right: 0.65rem;
				    padding-bottom: 0px;
				    font-size: 16px;
				    line-height: 15px;
				    @include transition(170ms all ease);
				}///:before
			}///a.button--chat

			a.button--chat,
			a.button--phone,
			a.button--directions {
				@include breakpoint(small) {
					padding: 0.75rem 1rem;
				}
				@include breakpoint(medium) {
					padding: 1rem 1.5rem;
				}
				@include breakpoint(large) {
					padding: 1rem 1.75rem;
				}
				@include breakpoint(xlarge) {
					padding: 1rem 1.75rem;
				}
				@include breakpoint(xxlarge) {
					padding: 1rem 2rem;
				}
				
				&:hover:before {
					color: get-color(inverse);
				}///:hover:before

				&.button--nav {
					&:before {
						color: get-color(inverse);
					}
				}///&.button--nav
			}///:button--phone, button--chat

	// strong
		span {
			&.strong {
				font-weight: 500;
			}
			&.light {
				font-weight: 300;
			}
			&.primary {
				color: get-color(primary);
			}
			&.secondary {
				color: get-color(secondary);
			}
			&.accent1 {
				color: get-color(accent1);
			}
			&.accent2 {
				color: get-color(accent2);
			}
			&.accent3 {
				color: get-color(accent3);
			}
			&.accent4 {
				color: get-color(accent4);
			}
			&.accent5 {
				color: get-color(accent5);
			}
			
		}///span
///UI


// MAP
	#map {
		height: 400px;
		width: 100%;
	}

// REVEAL FIX
	body.is-reveal-open, body.is-reveal-open #nav {
		overflow: hidden;
		@include breakpoint(large) {
			width: 98.5%;
		}
		@include breakpoint(xlarge) {
			width: 98.8%;
		}
		@include breakpoint(xxlarge) {
			width: 99.05%;
		}
	}///body.is-reveal-open










