// NAV


// Settings
	#nav {
		background: get-color(primary);
		@include box-shadow('nav');
		left: 0;
	    right: 0;
	    position: fixed;
	    z-index: 1000;
	    top: 0;
	}

// Mobilephone
	#mobilephone {
		background: get-color(inverse);
		.button-group {
			margin: 0;
			display: flex;
			justify-content: center;
		}///.button-group
		a {
			padding: 8px 4px;
			text-align: center;
			width: 160px;
		}///#mobilephone a
		a.mobilephone__call {
			&:before {
			    content: '\f095';
			    font-family: FontAwesome;
			    color: get-color(primary);
			    position: relative;
			    display: inline-flex;
			    vertical-align: middle;
			    padding-right: 0.65rem;
			    padding-bottom: 3px;
			    font-size: 16px;
			    line-height: 1;
			    @include transition(170ms all ease);
			}///:before
		}
		a.mobilephone__chat {
			&:before {
			    content: '\E0CA';
			    font-family: 'Material Icons';
			    color: get-color(primary);
			    position: relative;
			    display: inline-flex;
			    vertical-align: middle;
			    padding-right: 0.65rem;
			    padding-bottom: 3px;
			    font-size: 16px;
			    line-height: 1;
			    @include transition(170ms all ease);
			}///:before
		}
	}///#mobilephone


// Title-Bar (mobile nav)
	.title-bar {
		background: get-color(primary);
		border: none;
		.title-bar-left {
			@include breakpoint(medium down) {
				flex: 0 0 auto;
				padding: 5px;
			}///@medium down
		}///.title-bar-left
		.title-bar-right {

		}///.title-bar-right
	}///.title-bar


// Top-Bar	
	.top-bar {
		@include breakpoint(small only) {
			padding: 4px;
			@include box-shadow(3);	
		}///small only
		@include breakpoint(large) {
			max-width: 970px;
			margin: 0 auto;
		}///large
		@include breakpoint(xlarge) {
			max-width: 1100px;
			margin: 0 auto;	
		}///xlarge
		@include breakpoint(xxlarge) {
			max-width: 1240px;
			margin: 0 auto;
		}///xxlarge
		
		// Left
		.top-bar-left {
			@include breakpoint(medium down) {
				display: none;
			}///mediumdown
		}///.top-bar-left
		
		// Right
		.top-bar-right {
			@include breakpoint(medium only) {
				margin: 0 auto;
				width: 100%;
			}///@medium only
		}///.top-bar-right

		
	}///.top-bar


// MOBILE NAV
	.top-bar-right ul.dropdown.menu {
		@include breakpoint(medium down) {
			display: block;
			width: 100%;
			
			li {
				text-align: center;
				@include breakpoint(medium down) {
					margin-bottom: 0;
					border-top: 1px solid shade(get-color(primary), 6%);
				}
				@include breakpoint(medium only) {
					margin-left: 0;
				}///medium only
				a {
					@include breakpoint(medium down) {
						font-size: 18px;
					}///medium down
					@include breakpoint(medium only) {
						
					}///medium only
				}///a
			}///li

		}///mediumdown
	}///ul.dropdown.menu


// Links
	// Menu
	.dropdown.menu {
		// li
		li.menu-text {
			padding: 0;
			@include breakpoint(small only) {
				margin-left: 0;
			}///@small only
		}///li.menu-text

		// Nav Buttons
		li.menu-text.has-button {
			@include breakpoint(medium down) {
				display: none;
			}///small only
		}///li.menu-text.has-button

		// links
		a {
			font-size: 16px;
			color: get-color(inverse);
			font-weight: 500;
			@include breakpoint(large) {
				padding: 0.75rem;
			}
			@include breakpoint(xlarge) {
				padding: 1.25rem;
			}
		}///.dropdown.menu a
	}///.dropdown.menu

// Hamburger
	.hamburger {
		width: 60px;
		padding: 0 10px;
		padding-top: 5px;
		line-height: 1.25;
		&:hover {
			opacity: 1;
		}
		&:focus {
			outline: none;
		}
		.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
			background-color: get-color(inverse);
			border-radius: 0px;
			height: 2px;
		}
		.hamburger-label {
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 20px;
		}///.hamburger-label
	}///.hamburger
