// Spotlight

.module.spotlight {

	// Settings
		.inner.expanded {
			@include breakpoint(small only) {
				padding-bottom: 1.25rem;
				padding-top: 1.25rem;
			}
		}///.inner.expanded

	// Content
		.content--spotlight {
			background: get-color(inverse);
			z-index: 1;
			@include box-shadow(3);
			@include breakpoint(small) {
				padding: rem-calc(30px) rem-calc(20px);
				text-align: left;
			}
			@include breakpoint(large) {
				padding: 4rem 2rem;
			}
		}///.content--spotlight

	// Header
		h1 {
			text-align: center;
			font-weight: 600;
			&:after {
				content: '';
				display: block;
				width: 45%;
				height: 1px;
				margin: 0 auto;
				margin-top: rem-calc(10px);
				margin-bottom: rem-calc(30px);
				background: get-color(primary);
				@include breakpoint(small only) {
					left: 0;
					margin-left: 0;
					margin-right: 0;
					width: 80%;
				}
			}
		}

	// Paragraph 
		p {
			max-width: 820px;
			margin: 0 auto;
			margin-bottom: 20px;
			color: get-color(accent2);
			@include breakpoint(small) {
				text-align: left;
			}
			@include breakpoint(large) {
				text-align: center;
			}
		}
		span.bold {
			font-weight: 500;
		}

	// List
		ul.list--spotlight {
			list-style: none;
			margin: 2rem auto;
			@include breakpoint(small) {
				text-align: left;	
			}
			@include breakpoint(large) {
				text-align: center;
			}
			li {
				color: get-color(default);
				font-size: 18px;
				line-height: 26px;
				margin: 0 auto;
				margin-bottom: 1.1rem;
				@include breakpoint(medium down) {
					font-size: 1rem;
					line-height: 23px;
				}///medium down
			}///li
		}///ul.list--spotlight


}///.module.spotlight