// Contact
.module.contact {
	// Settings
		.inner.expanded {
			@include breakpoint(small) {
				padding: 0 0;
				padding-top: 1.25rem;
			}
			@include breakpoint(medium only) {
				padding: rem-calc(100px) 0;
			}
			@include breakpoint(large) {
				padding: rem-calc(140px) 0;
			}
			
		}///.inner.expanded

		@include breakpoint(small only) {
			background: none !important;
		}///@smallonly

	// Card
		.card.card--contact {
			margin: 0 auto;
			padding: 5rem 1rem;
			@include breakpoint(small only) {
				padding: 2.5rem 1rem;	
			}
			@include breakpoint(medium only) {
				padding: 3rem 1.5rem;
			}
		}///.card.card--contact

	// Media (small)
		.media--contact {
			@include breakpoint(small only) {
				min-height: 250px;
			}///@small only
		}///.media--contact

	// Header
		h1 {
			text-align: center;
			&:after {
				content: '';
				display: block;
				width: 45%;
				height: 1px;
				margin: 0 auto;
				margin-top: rem-calc(10px);
				margin-bottom: rem-calc(30px);
				background: get-color(primary);
				@include breakpoint(small only) {
					margin-top: rem-calc(12px);
					margin-bottom: rem-calc(18px);	
				}
			}///:after
		}///h1

	// Paragraph
		p {
			color: get-color(accent2);
			max-width: 700px;
			margin-left: 8%;
			margin-right: 8%;
			text-align: center;
			line-height: 28px;
			@include breakpoint(small only) {
				margin-left: 3%;
				margin-right: 3%;
				text-align: left;
			}
		}///p

	// Button Group
		.button-group {
			@include breakpoint(small only) {
				max-width: 320px;
				margin: 0 auto;	
			}
			@include breakpoint(large) {
				text-align: center;
				display: inline-block;
				margin: 0 auto;
			}///large
		}///.button-group


}///.module.contact