// Insurance
.module.spotlight.insurance {

// Settings
	.inner.expanded {
		@include breakpoint(small only) {
			padding-left: 25px;
			padding-right: 25px;
		}///medium down
	}///.inner.expanded
	position: relative;
	&:after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    background-color: get-color(accent4);
	    z-index: 0;
	    height: 200px;
	    @include breakpoint(medium) {
	    	height: 460px;
	    }
	    @include breakpoint(large) {
	    	height: 500px;
	    }
		@include breakpoint(xxlarge) {
			height: 420px;
		}
	}///:before

// Insurance Grid
	.insurance-grid {
		margin: 0 auto;
		max-width: 760px;
		
		.cell {
			padding: 1.2rem 1.5rem;
			margin: 0;
			@include grid-column(4);
			@include breakpoint(small only) {
				@include grid-column(6);
				padding: 1.25rem 0.75rem;
			}///@small only
		}///.cell
			
		// // First & Last
		// .cell-0,.cell-1,.cell-2,.cell-7,.cell-8,.cell-9,{
		// 	@include breakpoint(medium) {
		// 		@include grid-column(4, 10px);	
		// 		padding: 2rem;
		// 	}///@large
		// }///First & Last

		// Middle Row
		.cell-3,.cell-4,.cell-5,.cell-6,.cell-0,.cell-1,.cell-2,.cell-7,.cell-8,.cell-9, {
			
			@include breakpoint(medium) {
				@include grid-column(3, 40px);
				padding: 2rem 1rem;
			}///@large
		}///Middle Row
	}///.insurance-grid


// List
	ul.list--spotlight {
		@include breakpoint(medium down) {
			font-style: italic;
			font-weight: 300;
		}///@medium down
		
		li {
			@include breakpoint(medium down) {
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: get-color(accent2);
			}///@medium down
			@include breakpoint(medium) {
				text-align: center;
			}
		}///li
	}///ul.list--spotlight


// Header
	.content--spotlight h1 {
		@include breakpoint(small only) {
			&:after {
				width: 100%;
				margin-top: 0.5rem;
				margin-bottom: 1rem;
			}
		}///small only
	}///h1

// Paragraph 
	.content--spotlight p {
		@include breakpoint(small only) {
			letter-spacing: -0.2px;
		}
		@include breakpoint(medium) {
			text-align: center;
		}
		@include breakpoint(large) {
			max-width: 640px;
		}
	}

}///.module.spotlight.insurance

	

