// Life-Challenge
.module.duo.duo--alt.life-challenge {
	@include breakpoint(medium only) {
		position: relative;
	}

	// Settings
		.inner.expanded {
			@include breakpoint(large) {
				padding: 0;
				padding-top: rem-calc(20px);
				padding-bottom: rem-calc(82px);
			}///@large
		}///.inner.expanded

	// Card
		.card--duo {
			border: 1px solid get-color(primary);
		}///.card--duo

	// Media
		.media--duo {
			@include breakpoint(small only) {
				margin: 0;
			}///@small only
			@include breakpoint(large) {
				position: relative;
			}///@large
		}///.media--duo

	// Logo
		.lc--logo {
			position: absolute;
			height: auto;
			background: center/cover no-repeat url(../../assets/img/lc-logo.svg);
			@include breakpoint(small only) {
				$lc-logo-width: 75;
				top: 18%;
				left:((100 - $lc-logo-width)/2 + %);
				width: ($lc-logo-width + %);
			}///small
			@include breakpoint(medium only) {
				$lc-logo-width: 65;
				top: 12%;
				left:((100 - $lc-logo-width)/2 + %);
				width: ($lc-logo-width + %);
			}
			@include breakpoint(large) {
				$lc-logo-width: 80;
				top: 30%;
				left:((100 - $lc-logo-width)/2 + %);
				width: ($lc-logo-width + %);
			}///large
			@include breakpoint(xlarge) {
				$lc-logo-width: 75;
				top: 28%;
				left:((100 - $lc-logo-width)/2 + %);
				width: ($lc-logo-width + %);
			}///large
		}///.lc--logo

}///.module.duo--alt.life-challenge