// Location

.module.spotlight.location {
	position: relative;

	// Container
		.inner.expanded {
			@include breakpoint(small only) {
				padding-left: 0;
				padding-right: 0;
			}///@small only
			@include breakpoint(medium only) {
				padding-top: 1.25rem;
			}
			@include breakpoint(large) {
				padding-top: 1.25rem;
			}
		}///.inner.expanded

		.cell:not(.map--spotlight) {
			@include breakpoint(small only) {
				padding-left: 25px;
				padding-right: 25px;
			}
		}

		.content--spotlight {
			box-shadow: none;
			text-align: center;
			padding: 0;
			margin-bottom: 1.5rem;
			@include breakpoint(small only) {
				padding: 0 30px;
				margin-bottom: 240px;	
			}///@small only
		}///.content--spotlight

		.header--spotlight {
			text-align: center;
			margin: 0 auto;
			margin-bottom: 30px;
		}///.header--spotlight

		.paragraph--spotlight {
			box-shadow: none;
			text-align: center;
			padding: 0;
			margin-bottom: 30px;
		}///.paragraph--spotlight

		.header--spotlight, .paragraph--spotlight {
			@include breakpoint(small) {
				margin-bottom: 25px;
			}///small
			@include breakpoint(medium) {
				max-width: 580px;
				margin: 0 auto;
				margin-bottom: 25px;
			}///medium
			@include breakpoint(xlarge) {
				max-width: 700px;
				margin: 0 auto;
				margin-bottom: 30px;
			}///large
			@include breakpoint(xxlarge) {
				max-width: 840px;
			}
		}///header--spotlight, paragraph--spotlight

		@include breakpoint(xxlarge) {
			.paragraph--spotlight--left {
				padding-right: 1.25rem;
			}///.paragraph--spotlight

			.paragraph--spotlight--right {
				padding-left: 1.25rem;
			}///.paragraph--spotlight
		}
		
		

		.buttons--spotlight {
			text-align: center;
			padding: 0;
			margin-bottom: 1.25rem;
			@include breakpoint(small only) {
				padding: 0 30px;
				margin-bottom: 260px;	
			}///@small only
		}///.buttons--spotlight

	// MAP
		.map {
			background-color: #eee;
			@include breakpoint(small) {
				min-height: 280px;
			}
			@include breakpoint(medium) {
			
			}
			@include breakpoint(large) {
				min-height: 480px;
			}
		}///.map

		.map--spotlight {
			@include breakpoint(small only) {
				position: absolute;
				left: 0;
				min-height: 260px;
				bottom: 0;
				width: 100%;
			}///@small only
		}///.map--spotlight

		.map--info {
			padding: 12px;
			padding-bottom: 2px;
			@include breakpoint(medium down) {
				padding-bottom: 8px;	
			}
			h3 {
				margin-top: 5px;
				font-size: 20px;
				color: get-color(default);
				font-family: $body-font-family;
				font-weight: 400;
				margin-bottom: 2px;
				@include breakpoint(medium down) {
					font-size: 18px;
					margin-top: 0;
				}///small only
			}///h3

			p {
				font-weight: 300;
				color: get-color(default);
				font-size: 18px;
				margin-bottom: 10px;
				line-height: 1.4;
				@include breakpoint(medium down) {
					font-size: 16px;
					margin-bottom: 4px;
				}///small only
			}///p

			a.button.button--directions {
				@include breakpoint(medium down) {
					padding: 0;
					border: 0;
					margin: 0;
					font-size: 16px;
					color: get-color(primary);
					&:hover {
						background: get-color(inverse);
						text-decoration: underline;
					}
					&:focus {
						background: get-color(inverse);
					}
				}///small only
			}///a.button--directions
		}///.map--info

	// Background
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 200px;
			background: get-color(secondary);
			z-index: 0;
		}///:before
	
	// Header
		h1 {
			font-weight: 400;
			@include breakpoint(small) {
				text-align: left;
			}///@small
			@include breakpoint(medium) {
				text-align: center;
			}///@large
		}///h1

		h5 {
			font-family: $body-font-family;
			margin: 0 auto;
			font-weight: 300;
			line-height: 1.7;
			color: get-color(accent2);
			@include breakpoint(small only) {
				font-size: 18px;
				text-align: left;
				font-weight: 300;
				// color: tint(get-color(accent2), 25%);	
			}
			@include breakpoint(medium) {
				text-align: left;
			}
			@include breakpoint(large) {
				max-width: 480px;
				text-align: center;
			}
			@include breakpoint(xlarge) {
				max-width: 480px;
				text-align: center;
			}
			@include breakpoint(xxlarge) {
				max-width: none;
				text-align: center;
			}

		}

	// Paragraph
		p {
			@include breakpoint(small only) {
				margin-bottom: 0px;
			}
			@include breakpoint(medium) {
				margin: 0 auto;
			}
			@include breakpoint(large) {
				margin: 0 auto;
				text-align: left;
				line-height: 1.7;
			}
		}///p

	// Address
		p.address--spotlight {
			span {
				font-weight: 400;
			}
			font-weight: 300;
			font-size: 18px;
			color: get-color(default);
			text-align: center;
			margin: 1.25rem auto;
			margin-top: 0;
		}

	// Buttons
		.button-group {
			margin-bottom: 2.5rem;
			@include breakpoint(medium) {
				display: inline-block;
				margin: 0 auto;
				margin-bottom: 2.5rem;
			}
			
			a.button {
				@include breakpoint(medium) {
					margin-bottom: 0;
				}///medium
			}///a.button
		}///.button-group


}///.module.spotlight.location