// Our-Success
.module.duo.duo--alt.our-success {
	// Settings
		.inner.expanded {
			@include breakpoint(large) {
				padding: 0;
				padding-top: 5rem;
				padding-bottom: rem-calc(20px);
			}///@large
		}///.inner.expanded

	// Card
		.card--duo {
			border: 1px solid get-color(secondary);
		}///.card--duo

	// Media
		.media--duo {
			@include breakpoint(small only) {
				margin: 0;
			}///@small only
		}///.media--duo

}///.module.duo--alt.our-success