// Outpatient

// Duo
.module.duo.outpatient {

	.card--duo {
		background: get-color(secondary);
		@include breakpoint(large) {
			width: 150%;
			margin-left: -50%;
			height: 90%;
			transform: translateY(6%);
		}
		@include breakpoint(xlarge) {
			width: 130%;
			margin-left: -30%;
			height: 86%;
			transform: translateY(8%);
		}
		@include breakpoint(xxlarge) {
			width: 130%;
			margin-left: -30%;
			height: 80%;
			transform: translateY(12%);
		}///xxlarge
	}///.card--duo


	.media--duo {
		@include breakpoint(large) {
			min-height: 400px;	
		}///large
		@include breakpoint(xlarge) {
			min-height: 440px;	
		}
		@include breakpoint(xxlarge) {
			min-height: 470px;	
		}///xxlarge
	}///.duo__media
}///.module.duo.outpatient

// Content
.module.content.outpatient {
	background: get-color(inverse);
	position: relative;

	// Inner
		.inner.expanded {
			position: relative;
			padding-top: 1.25rem;
			padding-bottom: 2.5rem;
			@include breakpoint(small only) {
				padding-left: 25px;
				padding-right: 25px;
				padding-bottom: 1.25rem;	
			}
		}///.inner.expanded

	// Container
		.content--container{
			background: get-color(inverse);
			border: 1px solid shade(get-color(accent4), 4%);
			padding: 2.5rem;
			@include breakpoint(small only) {
				padding: 1.5rem;
			}///@small only
		}///.content--container

	// Header
		h5 {
			font-size: 18px;
			font-weight: 500;
		}///h5

	// List
		.grid-x ul.list--box.outpatient--list {
			// li {
			// 	@include breakpoint(small only) {
			// 		margin-left: 1rem;	
			// 		&:before {
			// 			margin-left: -1rem;
			// 		}///:before
			// 	}///@small only
			// 	@include breakpoint(medium) {
			// 		margin-left: 1.65rem;	
			// 		&:before {
			// 			margin-left: -1.65rem;
			// 		}///:before
			// 	}///@medium
			// }///li
		}///ul.outpatient--list
		



}///.module.content.residential