// PROGRAMS
.module.programs {

// Settings
	.inner.expanded {
		@include breakpoint(xlarge) {
			padding-bottom: 5rem;
		}///@xlarge
	}///.inner.expanded

// Card
	.card.card--programs {
		background: transparent;
		border: 1px solid tint(get-color(primary), 45%);
		@include box-shadow(1, get-color(default));
		@include breakpoint(medium down) {
			padding: 30px;
		}///medium down
		@include breakpoint(xlarge) {
			padding: rem-calc(30px) rem-calc(26px);
		}///xlarge

		// Card-Section
			&>.card-section {
				padding: 0;
			}

		// Hover
			&:hover {
				border: 1px solid tint(get-color(primary), 85%);
				@include box-shadow(3, get-color(primary));
				span.button--programs:after,
				span.button--programs:before {
					width: 100%;
				}///:hover span:after
				p {
					color: get-color(primary);
				}///:hover p
			}///:hover
			&:focus {
				outline: 0;
			}

		// Paragraph
			p {
				font-size: 1rem;
				font-weight: 400;
				color: get-color(accent3);
				line-height: 26px;
			}

		// Button
			span.button--programs {
				align-self: flex-start;
				position: relative;
				color: get-color(default);

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 1px;
					background: get-color(primary);
					@include transition(350ms all ease 100ms);
					@include breakpoint(small only) {
						width: 100%;
						opacity: 0.5;	
					}///smallonly
				}///:after
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 1px;
					background: shade(get-color(accent4), 10%);
					@include transition(300ms all ease-out);
					@include breakpoint(small only) {
						width: 100%;
						opacity: 0.5;	
					}///smallonly
				}///:after
				&:focus {
					outline: none;
				}
			}///span.button--programs

	}///.card--programs

// Header
	h1 {
		&:after {
			content: '';
			display: block;
			width: 65%;
			height: 1px;
			margin-top: rem-calc(10px);
			margin-bottom: rem-calc(30px);
			background: get-color(primary);
			@include breakpoint(small) {
				margin-bottom: 1.5rem;
			}
			@include breakpoint(medium) {
				width: 40%;
			}
			@include breakpoint(large) {
				width: 70%;
			}
		}///:after
	}///h1

	a.card--programs[data-open="program-card-3"] {
		// white-space: pre-line;
	}

// Paragraph
	.paragraph--programs { 
		@include breakpoint(small) {
			margin-bottom: 1rem;	
		}
		@include breakpoint(large) {
			margin-bottom: 2rem;
		}
		p {
			font-size: 18px;
			font-weight: 300;
			color: get-color(accent2);
		}///p
	}///.paragraph--programs

}///.module.programs