// Residential

// Duo
.module.duo.residential {

	.card--duo {
		@include breakpoint(large) {
			width: 160%;
			height: 90%;
			transform: translateY(6%);
		}
		@include breakpoint(xlarge) {
			width: 140%;
			height: 86%;
			transform: translateY(8%);
		}
		@include breakpoint(xxlarge) {
			width: 128%;
			height: 80%;
			transform: translateY(12%);
		}
	}

	.media--duo {
		@include breakpoint(large) {
			min-height: 400px;	
		}///large
		@include breakpoint(xlarge) {
			min-height: 440px;	
		}
		@include breakpoint(xxlarge) {
			min-height: 470px;	
		}///xxlarge
	}///.duo__media
}///.module.duo.residential


// Content
.module.content.residential {
	background: get-color(accent4);
	position: relative;
	&:before {
		content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 50%;
	    background: get-color(inverse);
	    z-index: 0;
	}///:before


	.inner.expanded {
		position: relative;
		padding-top: rem-calc(20px);
		padding-bottom: 2.5rem;
	}///.inner.expanded

	.content--container{
		background: get-color(inverse);
		border: 1px solid get-color(primary);
		@include breakpoint(small) {
			padding: 1.5rem;
		}
		@include breakpoint(medium) {
			padding: 2rem;
		}
		@include breakpoint(large) {
			padding: 2.5rem;
		}
	}///.content--container
}///.module.content.residential