// What-To-Expect

.module.spotlight.what-to-expect {

	// Settings/Typography
		.inner.expanded {
			@include breakpoint(small) {
				padding-bottom: 5rem;
			}///small
			@include breakpoint(medium) {
				padding-bottom: 5rem;
			}///medium
			@include breakpoint(large) {
				padding-bottom: 5rem;
			}///large
		}///.inner.expanded
		h1, h2, h3, p, span {
			color: get-color(inverse);
		}

	// Container Content
		.content--spotlight {
			background: none;
			box-shadow: none;
			padding: 0;
		}///.content--spotlight

	// Container-Callout
		.callout--spotlight {
			background: get-color(accent5);
			
			@include breakpoint(small) {
				@include xy-cell(12, false, 0, 0);
				padding: 1.5rem;
			}///@small
			@include breakpoint(large) {
				@include xy-cell(10, false, 0, 0);
				padding: 2.5rem;
				margin: 0 auto;					
			}///@large

		}///.callout--spotlight

	// Header
		h1 {
			@include breakpoint(small) {
				text-align: left;
			}
			@include breakpoint(medium) {
				text-align: center;
			}
			&:after {
				background: get-color(inverse);
			}///:after
		}///h1
		h5 {
			font-family: $body-font-family;
			font-size: rem-calc(18px);
			font-weight: 500;
			color: get-color(inverse);
		}

	// Paragraph
		p {
			max-width: 780px;
			margin-left: auto;
			margin-right: auto;
		}///p

}///.module.spotlight.what-to-expect