// Why-Choose
.module.duo.why-choose {
	.inner.expanded {
		@include breakpoint(medium) {
			padding-top: 0;
		}
		@include breakpoint(large only) {
			max-width: none;
		}
		@include breakpoint(xlarge) {
			padding-top: 4.85rem;	
		}
	}///.inner.expanded

	.card--duo {
		@include breakpoint(xlarge) {
			width: 160%;
			height: 92%;
			transform: translateY(4.8%);
		}
		@include breakpoint(xxlarge) {
			width: 148%;
			height: 88%;
			transform: translateY(7.5%);
		}

		// Header
			h1 {
				line-height: 56px;
			}

		// paragraph
			p {
				@include breakpoint(large) {
					line-height: 24px;
				}
			}///p
	}///.card--duo

	.media--duo {
		@include breakpoint(large only) {
			min-height: 400px;
			overflow-y: hidden;
		}
	}///.media--duo

	.media--img {
		@include breakpoint(medium only) {
			transform: none !important;
			min-height: 400px;
		}
		@include breakpoint(large only) {
			margin-top: -20px;
			min-height: 440px;	
		}///large
		@include breakpoint(xlarge) {
			min-height: 500px;	
		}
		@include breakpoint(xxlarge) {
			min-height: 520px;	
		}///xxlarge
	}///.media--duo

	// Content
	.content--duo {
		@include breakpoint(medium only) {
			max-width: 668px;
			margin: 0 auto;
			margin-top: -40px;
		}///@medium only
		@include breakpoint(large only) {
			max-width: 892px;
			margin: 0 auto;
			margin-top: -40px;
		}///@medium only
	}


}///.module.duo.why-choose