
{{#if top-bar}}
        <div id="nav">
            
            {{!Mobile-Phone}}
            <div id="mobilephone" class="hide-for-large">
                <div class="button-group">
                    <a href="tel:{{@root.site.phone}}"
                        class="mobilephone__call"
                        data-ga-event
                        data-ga-category="Phone Numbers"
                        data-ga-action="Phone Clicks"
                        data-ga-label="Phone Clicks Mobile-Nav">{{@root.site.phone}}</a>
                    <a class="mobilephone__chat"
                        data-ga-event
                        data-ga-category="Live Chat"
                        data-ga-action="Chat Button"
                        data-ga-label="Live Chat Mobile-Nav" data-chat>Live Chat</a>
                </div>
            </div>{{!--/.mobile-bar--}}

            {{!Title-Bar}}
            <div class="title-bar hide-for-large" data-responsive-toggle="{{menu-id}}" data-hide-for="large">
                <a href="" class="title-bar-left">
                    <img src="{{@root.site.logo.alt-img}}" class="site-logo" alt="{{text}}" />
                </a>{{!--/.title-bar-left--}}

                <div class="title-bar-right">
                    <button class="hamburger nav-button hamburger--squeeze"
                        type="button"
                        data-toggle="{{menu-id}}"
                        data-ga-event
                        data-ga-category="Hamburger Menu"
                        data-ga-action="Navigate"
                        data-ga-label="Open Mobile Menu">
                        
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                        <span class="hamburger-label">Menu</span>
                    </button>
                </div>{{!--/.title-bar-right--}}
            </div>{{!--/.title-bar--}}

            {{!Top-Bar}}
            <div class="top-bar" id="{{menu-id}}">
                {{#each top-bar}}
                    <div class="top-bar-{{@key}}"> 
                        {{#if logo}}
                            <a href="" class="show-for-large hide-for-xlarge">
                                <img src="{{@root.site.logo.alt-img}}" class="site-logo" alt="{{text}}" />
                            </a>
                            <a href=""
                                class="show-for-xlarge"
                                data-ga-event
                                data-ga-category="nav"
                                data-ga-action="navigate"
                                data-ga-label="home-logo">
                                <img src="{{@root.site.logo.img}}" class="site-logo" alt="{{text}}" />
                            </a>


                        {{else}}
                            <ul class="dropdown menu" data-dropdown-menu>
                                {{#each this}}
                                    {{#if button}}
                                        <li class="menu-text has-button">
                                            {{#if href}}
                                                <a href="{{href}}" 
                                                    class="button button--{{button}} button--nav" 
                                                        data-ga-event
                                                    {{!-- CATEGORY --}}
                                                        {{#if ga-category}}
                                                            data-ga-category="{{ga-category}}"
                                                        {{else}}
                                                            data-ga-category="nav"
                                                        {{/if}}
                                                    
                                                    {{!-- ACTION --}}
                                                        {{#if ga-action}}
                                                            data-ga-action="{{ga-action}}"
                                                        {{else}}
                                                            data-ga-action="navigate"
                                                        {{/if}}
                                                    
                                                    {{!-- LABEL --}}
                                                        {{#if ga-label}}
                                                            data-ga-label="{{ga-label}}"
                                                        {{else}}
                                                            data-ga-label="Nav Clicks {{text}}"
                                                        {{/if}}


                                                    {{#ifequal ga-action "Chat Button"}}data-chat{{/ifequal}}>{{text}}
                                                </a>
                                            {{/if}}
                                        </li>
                                    {{else}}
                                        <li class="menu-text">
                                            {{#if href}}
                                                <a href="{{href}}"
                                                    class="button button--nav"
                                                    data-ga-event
                                                    data-ga-category="nav"
                                                    {{#if ga-action}}
                                                        data-ga-action="{{ga-action}}"
                                                    {{else}}
                                                        data-ga-action="navigate"
                                                        data-ga-label="{{text}}"
                                                    {{/if}}>{{text}}</a>
                                            {{/if}}
                                        </li>
                                    {{/if}}

                                {{/each}}
                            </ul>
                        {{/if}}

                    </div>{{!--/.top-bar-key--}}
                {{/each}}
            </div>{{!--/.top-bar--}}

        </div>{{!--/#nav--}}
{{/if}}
