<div id="hero" class="module billboard animated" data-once>
  <div class="inner expanded">

    <div class="grid-x">
      
      <div class="cell billboard__left animated fadeInLeftBig" data-once>
        <div class="card-section">
          <h1 class="billboard__header">More Than A Treatment Center</h1>
          <p>
            The Oaks at La Paloma is more than a treatment center. It’s a place of hope and restoration. We believe that every person has the ability to change and heal.
          </p>
          <div class="expanded button-group stacked-for-small">
            <a
              href="tel:{{@root.site.phone}}"
              class="button button--phone primary hollow"
              onClick="fbq('track', 'Lead', {
                content_name: 'Michaels House PPC', 
                content_category: 'Landing Pages',
                content_type: 'Phone Clicks'
              });"
              data-ga-event
              data-ga-category="Phone Numbers"
              data-ga-action="Phone Clicks"
              data-ga-label="Phone Clicks Billboard">{{@root.site.phone}}
            </a>
            
            <a
              class="button button--chat primary hollow"
              data-ga-event
              data-ga-category="Live Chat"
              data-ga-action="Chat Button"
              data-ga-label="Live Chat Billboard" data-chat>
              Live Chat
            </a>
          </div>
        </div>
      </div>

      
      <div class="cell large-12 small-12 medium-12 billboard__right">
        <div class="billboard__img animated fadeInUp" data-once style="background-image: url({{root}}assets/img/billboard.jpg);"></div>
      </div>

    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.billboard--}}
