<div id="programs" class="module programs">
  <div class="inner expanded">
    <div class="grid-x">
        
        {{!Header}}
        <div class="cell large-6 header--programs animated fadeInLeftBig" data-once>
          <h1>What We Treat</h1>
        </div>
        
        {{!Paragraph}}
        <div class="cell large-6 end paragraph--programs animated fadeIn" data-once>
          <p>
            At The Oaks, we are committed to providing integrated, evidence-based treatment for anyone battling with co-occurring mental health and substance abuse disorders. Our treatment model is designed to work with individuals in all stages of the recovery process.
          </p>
        </div>

        {{!Deck}}
        <div class="deck cell large-12 grid-container full">
          <div class="grid-x grid-margin-x grid-margin-y">
              
              {{#each program-cards}}
                {{!Card}}
                <a class="xlarge-4 large-6 medium-6 small-12 cell card card--programs"
                data-open="program-card-{{@index}}"
                data-in-view="fadeIn"
                data-ga-event
                data-ga-category="program-cards"
                data-ga-action="open modal"
                data-ga-label="{{title}}">
                  <div class="card-section grid-y" style="justify-content: space-between;">
                    <h2>{{title}}</h2>
                    {{#markdown}}{{summary}}{{/markdown}}
                    <span class="button--programs primary" data-open="program-card-{{@index}}">Read More</span>
                  </div>
                </a>

                {{!Reveal}}
                <div class="reveal" id="program-card-{{@index}}" data-reveal data-animation-in="slide-in-up fast ease-in" data-animation-out="slide-out-down fast ease-out">
                  <div class="reveal__container">
                    <div class="reveal__header">
                      <h1>{{title}}</h1>
                    </div>
                    
                    <div class="reveal__content">
                      {{#markdown}}{{content}}{{/markdown}}
                    </div>
                  </div>{{!--/.reveal__container--}}
                  <button class="close-button" data-close
                  aria-label="Close modal"
                  type="button"
                  data-ga-event
                  data-ga-category="program-cards"
                  data-ga-action="close modal"
                  data-ga-label="{{title}}">
                    <span aria-hidden>&times;</span>
                  </button>
                </div>
              {{/each}}
          

          </div>{{!--/.grid-x--}}
        </div>{{!--/.cell.large-10.grid-container--}}

    </div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.billboard--}}
