<div id="why-choose" class="module module--secondary duo why-choose">
  <div class="inner expanded">

    <div class="grid-x">
        <div class="cell xlarge-4 xlarge-order-1 small-12 small-order-2 content--duo" data-in-view="fadeInLeft">
          <div class="card card--duo">
            <h1 data-in-view="fadeInUp">Why Choose</br>The Oaks?</h1>
            <p data-in-view="fadeIn">
              Our attitude is one of acceptance and nonjudgment; we recognize addiction as a disease and will teach you about the psychological and physiological aspects of your addiction and mental health conditions. 
              </br></br>
              We will teach you positive coping skills, how to heal your relationships and make new ones, how to free yourself from negative thinking, how to care for your mind, body and spirit, and how to find motivation for a better future. At The Oaks, we believe in you and will make sure that you have what you need to achieve and sustain recovery.
            </p>
          </div>
        </div>

        <div class="cell xlarge-8 xlarge-order-2 small-12 small-order-1 media--duo" data-in-view="fadeInRight">
          <div class="media--img rellax" data-rellax-speed="-1" data-rellax-percentage="0.5" style="background: center/cover no-repeat url({{root}}assets/img/why-choose.jpg);">
          </div>
        </div>
    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.billboard--}}


