{{!Duo}}
<div id="residential" class="module module--accent4 duo residential">
  <div class="inner expanded">

    <div class="grid-x">
        <div class="cell large-4 large-order-1 small-12 small-order-2 content--duo" data-in-view="fadeInLeft">
          <div class="card card--duo card--primary">
            <h1 data-in-view="fadeInUp">Residential Treatment</h1>
            <p data-in-view="fadeIn">
              Our comprehensive residential treatment program is an inpatient model that includes therapeutic groups, ongoing pharmacological assessment and evaluation, individual therapy, wellness and activities that address mind, body and spirit.
            </p>
          </div>
        </div>{{!--/.duo__content--}}

        <div class="cell large-8 large-order-2 small-12 small-order-1 media--duo" data-in-view="fadeInRight" style="background: center/cover no-repeat url({{root}}assets/img/residential.jpg);">
        </div>
    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.duo.residential--}}


{{!Callout}}
<div class="module content residential">
  <div class="inner expanded">
    <div class="grid-x">
      <div class="cell large-12 content--container">
        {{!Header}}
        <h5>While in the Residential program, each client has the opportunity to be involved in:</h5>

        {{!Lists}}
        <div class="grid-x">
          <ul class="cell large-6 list--box list--primary residential--left">
            {{#each residential.left}}
              <li>{{text}}</li>        
            {{/each}}
          </ul>

          <ul class="cell large-6 list--box list--primary residential--right">
            {{#each residential.right}}
              <li>{{text}}</li>        
            {{/each}}
          </ul>
        </div>{{!--/.grid-x--}}
      </div>{{!--/.cell.large-10--}}
    </div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.callout.residential--}}