{{!Duo}}
<div id="outpatient" class="module module--inverse duo outpatient">
  <div class="inner expanded">

    <div class="grid-x">
        <div class="cell large-4 large-order-2 small-12 small-order-2 content--duo" data-in-view="fadeInRight">
          <div class="card card--duo card--primary">
            <h1 data-in-view="fadeInUp">Outpatient Services</h1>
            <p data-in-view="fadeIn">
              Our outpatient program is a group-oriented program that offers staff and peer support, psychiatric evaluation and assessment, medication management, group therapy and life skills classes integrated with 12-Step principles.
            </p>
          </div>
        </div>{{!--/.duo__content--}}

        <div class="cell large-8 large-order-1 small-12 small-order-1 media--duo" data-in-view="fadeInLeft" style="background: center/cover no-repeat url({{root}}assets/img/outpatient.jpg);">
        </div>
    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.duo.residential--}}


{{!Callout}}
<div class="module content outpatient">
  <div class="inner expanded">
    <div class="grid-x">
      <div class="cell large-12 content--container">
        {{!Header}}
        <h5>Treatment Services:</h5>

        {{!Lists}}
        <div class="grid-x">
          <ul class="cell large-10 list--box list--secondary outpatient--list">
            {{#each outpatient.left}}
              <li>{{text}}</li>        
            {{/each}}
          </ul>

        </div>{{!--/.grid-x--}}
      </div>{{!--/.cell.large-10--}}
    </div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.callout.residential--}}