<div class="module module--inverse spotlight location">
  <div class="inner expanded">

    <div class="grid-x">
        <div class="cell large-12 header--spotlight">
           <h1>Our Location</h1>
           <h5>The Oaks at La Paloma is a residential treatment facility located in the heart of Memphis.</h5>

           
        </div>{{!--/.large-6.header--spotlight--}}

        
        
        <div class="cell xxlarge-6 xlarge-12 large-12 medium-12 small-12 paragraph--spotlight paragraph--spotlight--left">
            <p>
              We also have a sister facility in town, <span class="strong">Foundations Memphis</span>, that provides outpatient services. So why should you or your loved one come to Memphis for treatment? Because we're here to meet you where you are with acceptance and without judgment.
            </p>
        </div>{{!--/.large-6.paragraph--spotlight--}}

        <div class="cell xxlarge-6 xlarge-12 large-12 medium-12 small-12 paragraph--spotlight paragraph--spotlight--right">
            <p>
              We can provide the tools you need to live a healthy, fulfilling life in recovery; the soul of what we do is in building a sustainable foundation for you to thrive long after treatment ends. There’s magic in the heart of Memphis, and we encourage you to come discover it for yourself.
            </p>
        </div>{{!--/.large-6.paragraph--spotlight--}}
            
        <div class="cell large-12 buttons--spotlight">
          <div class="stacked-for-small button-group">
            <a
              href="tel:{{@root.site.phone}}"
              class="button button--phone primary hollow"
              onClick="fbq('track', 'Lead', {
                content_name: 'Michaels House PPC', 
                content_category: 'Landing Pages',
                content_type: 'Phone Clicks'
              });"
              data-ga-event
              data-ga-category="Phone Numbers"
              data-ga-action="Phone Clicks"
              data-ga-label="Phone Clicks OurLocation">{{@root.site.phone}}
            </a>

              <a
                class="button button--chat primary hollow"
                data-ga-event
                data-ga-category="Live Chat"
                data-ga-action="Chat Button"
                data-ga-label="Live Chat OurLocation"
                data-chat>Live Chat
              </a>
          </div>{{!--/.button-group--}}
        </div>{{!--/.large-6.content--spotlight--}}


        <div class="cell large-12 map--spotlight">
          <div class="map" data-map data-map-lat="35.112590" data-map-lng="-89.996424"
        data-map-zoom="12" data-map-style="grey"></div>
        </div>{{!--/.large-10.map--spotlight--}}

    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.billboard--}}
