<div class="module module--secondary spotlight what-to-expect">
  <div class="inner expanded">

    <div class="grid-x">
        <div class="cell large-12 content--spotlight">
            <h1>What To Expect When You Call</h1>
            <p>
              Asking for help is an important starting point of your recovery. To help ease any concerns about the initial phone call, our coordinators will guide you through a free, confidential assessment. After reviewing your assessment and your insurance information, our experienced staff will determine the most appropriate level of care for you or your loved one.
            </p>
        </div>{{!--/.large-10.content--spotlight--}}
    
        {{!Lists}}
        <div class="callout--spotlight">
          <div class="grid-x">
            <h5 class="bold">Here’s a few sample questions you can expect to cover:</h5>
            <ul class="list--box list--inverse">
              {{#each what-to-expect.items}}
                <li>{{text}}</li>        
              {{/each}}
            </ul>
          </div>{{!--/.grid-x--}}
        </div>{{!--/.large-10.map--spotlight--}}

    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.billboard--}}
