{{!Duo}}
<div class="module module--inverse duo duo--alt our-success">
  <div class="inner expanded">

    <div class="grid-x grid-margin-x">
        <div class="cell large-5 large-order-1 small-12 small-order-2 content--duo">
          <div class="card card--duo card--primary">
            <h1>Our Success</h1>
            <p>
              The Oaks is nationally recognized for integrative methods and evidence-based treatment that produces results. Our methods have been proven more effective than traditional drug and alcohol treatment methods in a five-year research study using the Foundations Treatment Model.
            </p>
          </div>
        </div>{{!--/.duo__content--}}

        <div class="cell large-7 large-order-2 small-12 small-order-1 media--duo" style="background: center/cover no-repeat url({{root}}assets/img/our-success.jpg);">
        </div>{{!--/.media--duo--}}

    </div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.duo.residential--}}