{{!Duo}}
<div class="module module--inverse duo duo--alt life-challenge">
  <div class="inner expanded">

    <div class="grid-x grid-margin-x">
        <div class="cell large-6 large-order-2 small-12 small-order-2 content--duo">
          <div class="card card--duo">
            <h1>Life Challenge Program</h1>
            <p>
              Once you leave The Oaks and begin adjusting to your new normal, you join the L+C family, where you’re more than just a name on a list. We’ll follow-up through your favorite means of communication — phone calls, text messages or email — to provide a pep talk or victory dance. The Life Challenge team is active on social media and within your local community, hosting events and reunions for L+C members. We’re invested in you and live to celebrate your achievements, both big and small.
            </p>
          </div>
        </div>{{!--/.duo__content--}}

        <div class="cell large-6 large-order-1 small-12 small-order-1 media--duo" style="background: center/cover no-repeat url({{root}}assets/img/lifechallenge.jpg);">

          <div class="lc--logo">
            <img src="{{root}}assets/img/lifechallenge_logo.svg" />
          </div>
        
        </div>{{!--/.media--duo--}}

    </div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.duo.life-challenge--}}