{{!Duo}}
<div class="module module--image contact" style="background: center/cover no-repeat url({{root}}assets/img/contact.jpg);">
  <div class="inner expanded">

    <div class="grid-x">
        <div class="cell hide-for-medium media--contact" style="background: center/cover no-repeat url({{root}}assets/img/contact.jpg);">
        </div>
        <div class="cell large-10 large-offset-1 small-12 content--contact">
          <div class="card card--contact">
            <h1>Give Us A Call</h1>
            <p>
              If you have questions about whether you or a loved one may need help, please contact us today. Our admissions coordinators are available to provide a confidential assessment and to review the best treatment options for your situation.
            </p>
            <div class="stacked-for-small button-group">
              <a
                href="tel:{{@root.site.phone}}"
                class="button button--phone primary hollow"
                onClick="fbq('track', 'Lead', {
                content_name: 'Michaels House PPC', 
                content_category: 'Landing Pages',
                content_type: 'Phone Clicks'
                });"
                data-ga-event
                data-ga-category="Phone Numbers"
                data-ga-action="Phone Clicks"
                data-ga-label="Phone Clicks Contact">{{@root.site.phone}}
              </a>
              <a
                class="button button--chat primary hollow"
                data-ga-event
                data-ga-category="Live Chat"
                data-ga-action="Chat Button"
                data-ga-label="Live Chat Contact"
                data-chat>Live Chat
              </a>
            </div>{{!--/.button-group--}}
          </div>
        </div>{{!--/.content--contact--}}
    </div>{{!--/.grid-x--}}

  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.duo.residential--}}