{{!--Footer--}}
<footer class="module footer">
  <div class="inner expanded">
  	<div class="grid-x">
  		<div class="cell large-auto">
	  		<p>
	  			©2018 The Oaks at La Paloma Treatment Center. All Rights Reserved. <a href="https://theoakstreatment.com/terms">Terms</a> | <a href="https://theoakstreatment.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
	  		</p>
	  		<p>
	  			<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">2009 Lamar Ave</span>, <span itemprop="addressLocality">Memphis, TN</span> <span itemprop="postalCode">38114</span></span> | <a href="https://www.google.com/maps/place/The+Oaks+at+La+Paloma/@35.1125886,-89.998606,17z/data=!3m1!4b1!4m5!3m4!1s0x887f875973a89fab:0x63f3a599c3149029!8m2!3d35.1125886!4d-89.9964173?hl=en-US">Map It</a>
	  		</p>
	  	</div>
  	</div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</footer>