{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex">
	<title>{{site.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Serif+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="{{root}}assets/css/app.css">
	{{!-- Favicons --}}
	<link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{root}}assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="{{root}}assets/img/favicons/safari-pinned-tab.svg" color="#40c77e">
	<link rel="shortcut icon" href="{{root}}assets/img/favicons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="The Oaks">
	<meta name="application-name" content="The Oaks">
	<meta name="msapplication-config" content="{{root}}assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#40c77e">

 <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '402262266824056');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=402262266824056&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>